<h1 class="heady">Meet the Developers</h1>
<div class="bioContain">
    <div class="buttonAbout">
        <a class="aboutButtonsLink" href="https://www.linkedin.com/in/adison-reddy-477a4a4b/"><img id="linkImg" src="/images1/linkedin-logo.png" /></a>
        <a class="aboutButtonsGit" href="https://github.com/AdisonReddy"><img id="gitImg" src="~/images1/github.png" /></a>
    </div>
    <img src="~/images1/adison.jpg" class="profile" />
    <div class="txtContain">
        <h2>Meet Adison Reddy</h2>
        <br />
        <div class="oohLaLa">
            Adison worked mostly on the back-end development of this website. He is from Columbus, Ohio originally, but currently is coding out of
            San Antonio, Texas. Adison was previously enjoying a career in freelance graphic design until he decided to change careers and become a developer.
            “I really enjoy the puzzle aspect of coding and the rewards when you figure something out.” When Adison is not programming, you can find him
            on the disc golf course.
            <br><br />
        </div>
    </div>
</div>
<br />
<div class="bioContainR">
    <div class="buttonAbout">
        <a class="aboutButtonsLink" href="https://www.linkedin.com/in/ibraheem-omar/"><img id="linkImg" src="/images1/linkedin-logo.png" /></a>
        <a class="aboutButtonsGit" href="https://github.com/IbraheemOmar"><img id="gitImg" src="~/images1/github.png" /></a>
    </div>
    <img src="~/images1/ibraheem.jpg" class="profileR" />
    <div class="txtContain">
        <h2>Meet Ibraheem Omar</h2>
        <br />
        <div class="oohLaLa">
            Ibraheem worked alongside Adison for the back-end developement of this website. He is from Columbus, Ohio. He decided to get a career
            in programming when he looked at his previous education experience and realized he had a real knack for problem solving. Since then, Ibraheem
            has not looked back. He is one of the funniest people on the team, and also an avid reader in his spare time.
            <br><br />
        </div>
    </div>
</div>
<br />
<div class="bioContain">
    <div class="buttonAbout">
        <a class="aboutButtonsLink" href="https://www.linkedin.com/in/michaela-mickee-young/"><img id="linkImg" src="/images1/linkedin-logo.png" /></a>
        <a class="aboutButtonsGit" href="https://github.com/micker7"><img id="gitImg" src="~/images1/github.png" /></a>
    </div>
    <img src="~/images1/mickee.jpg" class="profile" />
    <div class="txtContain">
        <h2>Meet Michaela Young</h2>
        <br />
        <div class="oohLaLa">
            Michaela (Mickee) helped with the front-end development of the project.
            She is from Stow, Ohio and is no stranger to hard work. Mickee has had many jobs including waitressing,
            camp counsler, and wrangler guide. These unique work experiences helped her decide to
            pursure a career in programming.“I love seeing how things tick, and especially seeing the end product after all my hard work.
            Knowing more of how I tick, I know I need a work environment that is strongly task-oriented, where I can be highly productive
            and organized, yet creative and enjoy what I am accomplishing.” Mickee enjoys reading, riding horses, longboarding,
            and going camping with her dog, and husband.
            <br><br />
        </div>
    </div>
</div>
<br />
<div class="bioContainR">
    <div class="buttonAbout">
        <a class="aboutButtonsLink" href="https://www.linkedin.com/in/jo-scar/"><img id="linkImg" src="/images1/linkedin-logo.png" /></a>
        <a class="aboutButtonsGit" href="https://github.com/Jo-Scar"><img id="gitImg" src="~/images1/github.png" /></a>
    </div>
    <img src="~/images1/jo.jpg" class="profileR" />
    <div class="txtContain">
        <h2>Meet Jo Scar</h2>
        <br />
        <div class="oohLaLa">
            Jo worked on the front-end development of this website. Jo is from Brunswick, Ohio and was formerly an IT Support Specialist
            for many years. Recently, Jo decided he wanted to take the next step in his IT journey. “What I have learned
            in my coding bootcamp is preparing me for a lifelong journey of learning to code, and I look forward to the journey.” Jo is a very talented
            musician and enjoys playing the guitar. He also loves riding his motorcycle. He is thrilled to be on the start of his new career path.
            <br><br />
        </div>
    </div>
</div>
<br />
<div class="bioContain">
    <div class="buttonAbout">
        <a class="aboutButtonsLink" href="https://www.linkedin.com/in/trey-crumrine-761052247/"><img id="linkImg" src="/images1/linkedin-logo.png" /></a>
        <a class="aboutButtonsGit" href="https://github.com/TreyCrumrine"><img id="gitImg" src="~/images1/github.png" /></a>
    </div>
    <img src="~/images1/trey.jpg" class="profile" />
    <div class="txtContain">
        <h2>Meet Thomas Leslie Crumrine III</h2>
        <br />
        <div class="oohLaLa">
            Thomas (Trey) is from Columbus, Ohio and worked on the front-end developement of this project with Mickee and Jo. Formerly an Insurance Salesman,
            and an HVAC Installer, Trey decided to give programming a shot after many of his friends in the field recommended he try it. “I remember
            starting a coding bootcamp, and two weeks in I realized it was the best career decision I have ever made.” In his spare time, Trey enjoys making things, specifically
            cold brew coffee, and candles. He also enjoys cycling and traveling with friends and his wife.
            <br><br />
        </div>
    </div>
</div>
<br />