<h1>How it Works</h1>
<p>
    Pantry Squirrel started as an answer to an everyday problem. Many of us have ingredients in our pantries that we
    may use for a recipe once or twice, usually most of our ingredients are “go to's” and we use them often. Let’s say
    one day, you were to run out of one of these “go to's”. What are you to do? Well that’s where we at Pantry Squirrel
    come in! We are a search engine where you can type in the many random ingredients in your pantry, and we will tell
    you possible recipes that you have with your current ingredients. We even tell you recipes that you have most ingredients
    for, and whether or not you may need to go to the store and buy a couple more. We also have a feature that if you know what
    you want to make, you can just search for any recipe and we will tell you what you need. So essentially the reverse of the
    first service we provide. Thanks for checking us out here at Pantry Squirrel. Please enjoy the other tabs on our website.
</p>
<button><a href="https://localhost:7193/Identity/Account/Register">Make My Own Account</a></button>
<button><a href="https://localhost:7193/Identity/Account/Login">Login</a></button>












